@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

*{box-sizing: border-box;}

html, body{
    height: 100%;
    font-family: Pretendard;
    background: #484848; /*가을*/
    min-width: 280px;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body > header{
    /* background: darkslateblue; */
    background: #ffc400;
    height: 40px;
    /* box-shadow: 0 2px 8px #ffc400; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
body > header h1{
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    /* transform: rotate(-2deg); */
    /* text-shadow: 0 0 8px rgba(255, 255, 255, .9); */
    display: flex;
    align-items: center;
}
body > header h1 img{
    height: 32px;
}
body > header button{
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;
    transform: rotate(-2deg);
}
body > header button img{
    vertical-align: top;
    height: 30px;
}
body > header .hamburger{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
body > header .hamburger > span{
    height: 4px;
    background: #484848;
    border-radius: 4px;
}
body > main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 10px;
    box-shadow: 0 0px 4px #484848;
}
body > main > *{
    max-width: 600px;
}
main{
    flex: 1;
    padding: 10px 5px;
    overflow-y: auto;
}

.calendar-section{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.calendar-section > header{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar-section > header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.calendar-section > header > div.today-btn-wrapper{
    /* justify-content: flex-end; */
    margin-top: 10px;
}
.calendar-section > header > div.today-btn-wrapper button{
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, .75);
    cursor: pointer;
}
.calendar-section > header .year-selection{
    margin: 0 10px;
}
.calendar-section .year-input{
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.calendar-section .year-input span{ /*년*/
    font-size: 12px;
    margin-right: 10px;
    opacity: .7;
}
.calendar-section .year-input strong{   /*월*/
    font-size: 30px;
}
.calendar-section .year-input:after{
    content: '';
    width: 100%;
    height: 0;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    background: #fff;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}


.calendar-section > header button.move-month-btn{
    width: 30px;
    height: 30px;
    border: 0;
    outline: 0;
    background: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .2);
    cursor: pointer;
}
.calendar-section > header button.move-month-btn:after{
    content: '';
    width: 20px;
    height: 14px;
    box-sizing: border-box;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.calendar-section > header button.prev-month-btn:after{
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    transform: translateX(-5px);
}
.calendar-section > header button.next-month-btn:after{
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    transform: translateX(5px);
}

.calendar{
    display: flex;
    justify-content: center;
}

.dim-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, .95); */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.dim-layer.active{
    display: flex;
}
.dim-layer .every-popup.active{
    display: block;
}
.dim-layer .every-popup > header .close-btn{
    width: 20px;
    height: 20px;
    transform: rotate(46deg);
    position: relative;
    cursor: pointer;
}
.dim-layer .every-popup > header .close-btn:before,
.dim-layer .every-popup > header .close-btn:after{
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dim-layer .every-popup > header .close-btn:after{
    transform: translate(-50%, -50%) rotate(90deg);
}
.dim-layer .every-popup > footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dim-layer .every-popup > footer button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 32px;
    border-radius: 5px;
    background: darkslateblue;
    background: #ffc400;
    color: #484848;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}
.dim-layer .every-popup{
    display: none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.dim-layer .bible-popup.active{
    display: flex;
}

.dim-layer .bible-popup{
    width: calc(100% - 10px - 10px);
    max-width: 600px;
    max-height: calc(100% - 10px - 10px);
    flex-direction: column;
}
.dim-layer .bible-popup > main{
    flex: 1;
}
.dim-layer .bible-popup > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}
.dim-layer .bible-popup > header > div{
    display: flex;
    align-items: center;
}
.dim-layer .bible-popup > header > div button{
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    background: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.dim-layer .bible-popup > header > div button.hidden{
    display: none;
    pointer-events: none;
}
.dim-layer .bible-popup > header > div button *{
    vertical-align: top;
}
.dim-layer .bible-popup > header > div button img{
    height: 30px;
}
.dim-layer .bible-popup > header > div button span{
    width: 25px;
    height: 25px;
    border: 3px solid #000;
    border-radius: 50%;
    border-top: 3px solid transparent;
    animation: loading1 1s linear infinite;
}

.dim-layer .bible-popup > header > div button .cancel-voice-icon,
.dim-layer .bible-popup > header > div button span{
    display: none;
}
.dim-layer .bible-popup > header > div button[data-status="loading"]{
    pointer-events: none;
}
.dim-layer .bible-popup > header > div button[data-status="loading"] .voice-icon,
.dim-layer .bible-popup > header > div button[data-status="loading"] .cancel-voice-icon{
    display: none;
}
.dim-layer .bible-popup > header > div button[data-status="loading"] span{
    display: flex;
}
.dim-layer .bible-popup > header > div button[data-status="playing"] .voice-icon,
.dim-layer .bible-popup > header > div button[data-status="playing"] span{
    display: none;
}
.dim-layer .bible-popup > header > div button[data-status="playing"] .cancel-voice-icon{
    display: flex;
}


.dim-layer .bible-popup p{
    margin: 0;
    text-align: justify;
}
.dim-layer .bible-popup p > span{
    display: flex;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 20px;
}
.dim-layer .bible-popup p > span.active{
    color: #fff;
    text-shadow: 0 0 12px #ffc400;
}
.dim-layer .bible-popup p > span:last-of-type{
    margin-bottom: 0;
}
.dim-layer .bible-popup p > span strong{
    width: 50px;
    min-width: 50px;
}
.dim-layer .date-popup > header{
    display: flex;
    justify-content: flex-end;
}
.dim-layer .date-popup > header .close-btn{
    width: 20px;
    height: 20px;
    transform: rotate(46deg);
    position: relative;
    cursor: pointer;
}
.dim-layer .date-popup > header .close-btn:before,
.dim-layer .date-popup > header .close-btn:after{
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dim-layer .date-popup > header .close-btn:after{
    transform: translate(-50%, -50%) rotate(90deg);
}
.dim-layer .date-popup > main{
    display: flex;
    justify-content: center;
}


.dim-layer .date-popup > main > div{
    display: flex;
    align-items: center;
}
.dim-layer .date-popup > main > div:first-of-type{
    margin-right: 10px;
}
.dim-layer .date-popup ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #111;
    border-radius: 5px;
    width: 80px;
    height: 90px;
    margin-right: 5px;
    overflow-y: auto;
}
.dim-layer .date-popup ul li{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    box-sizing: border-box;
}
.dim-layer .date-popup ul li:hover,
.dim-layer .date-popup ul li.active{
    background: rgba(0, 0, 255, .1);
    background: #ffedb3;
    font-weight: 900;
}
.dim-layer .menu-popup > header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.dim-layer .menu-popup ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
}
.dim-layer .menu-popup ul li{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 160px;
    cursor: pointer;
    /* text-align: center; */
}
.dim-layer .menu-popup ul li:last-of-type{
    margin-bottom: 0;
}
.dim-layer .menu-popup ul button{
    background: 0;
    border: 0;
}
table thead tr{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
table th{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
    padding-bottom: 5px;
}
table tbody tr:first-of-type{
    padding-top: 10px;
    box-sizing: border-box;
}
table td{
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    height: 35px;
    padding: 0;
}
table td.on{
    /* transform: scale(1.3) rotate(5deg); */
    /* position: relative;
    z-index: 1; */
}
table td.on > div{
    font-weight: 900;
    opacity: 1;
    border: 3px double #fff;
    box-shadow: inset 0 0 8px #fff;
}
table td > div{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
}
table .sun{
    color: rgba(255, 127, 1);
}
table .sat{
    color: rgba(0, 255, 255, 1);
}
table td > div strong.today{
    box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    background: #fff;
    color: #000;
    /* font-size: 12px; */
}
table td > div strong{
    width: 25px;
    height: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    font-size: 12px;
    font-weight: normal;
    position: relative;
}
table td > div strong.today + span{
    opacity: 1;
}
table td > div span{
    opacity: 0;
    background: #fff;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 20px #fed;
}
table td.clear > div{
    /* opacity: 1; */
}
table td.clear > div strong{
    background: lime;
    background: #ffc400;
    
    /* border-radius: 50%; */
    color: #000;
}
table td.ing > div strong{
    background: yellow;
    background: #ffedb3;
    /* border-radius: 50%; */
    color: #000;
}

table td.has-memo > div strong{
    /* text-decoration: underline; */
}
table td.has-memo > div strong:after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
    /* transform: translateX(-50%); */
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background: red;
}

/* table td.ing > div strong:after,
table td.clear > div strong:after,
table td.today > div strong:after{
    background: #000;
} */

.bible-section{
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.bible-section header{
    display: flex;
    color: #fff;
}

.bible-list{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    color: #fff;
}
.bible-list li{
    margin-bottom: 15px;
}
.bible-list li:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}
.bible-list li > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bible-list li label{
    flex: 1;
}
.bible-list li label .bible-range{
    flex: 1;
    font-weight: 100;
}
.bible-list li button{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
    width: 40px;
    padding: 0;
}

.memo-btn{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    color: #fff;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    position: relative;
    font-size: 18px;
}

.memo-btn.has-memo:after{
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(15px);
    /* box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .5), 0 0 4px rgba(255, 0, 0, .5); */
}
    
.dim-layer .memo-popup.active{
    display: flex;
}
.dim-layer .memo-popup{
    display: none;
    flex-direction: column;
    height: calc(100% - 20px);
    width: calc(100% - 10px - 10px);
    max-width: 600px;
}
.dim-layer .memo-popup > header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dim-layer .memo-popup > header h3{
    margin: 0;
    padding: 0;
}
.dim-layer .memo-popup > header h3 span{
    font-weight: 100;
    font-size: 14px;
    opacity: .7;
}
.dim-layer .memo-popup > main{
    padding: 0;
    flex: 1;
    margin-bottom: 10px;
}
.dim-layer .memo-popup textarea{
    resize: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .25);
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .75);
    border-radius: 5px;
    box-shadow: inset 0 0 8px #def;
    outline: 0;
}
.dim-layer .memo-popup textarea[disabled]{
    box-shadow: none;
    border: 0;
    background: 0;
}
.dim-layer .memo-popup textarea:focus{
    /* box-shadow: inset 0 0 2px #00e; */
    box-shadow: inset 0 0 8px #ffc400;
    /* box-shadow: inset 0 0 8px #484848; */
}
.dim-layer .memo-popup footer button{
    width: 100px;
}
.dim-layer .memo-popup footer *.hidden{
    display: none;
}
.dim-layer .memo-popup footer > div{
    display: flex;
    align-items: center;
}
.dim-layer .memo-popup footer > div button:first-of-type{
    margin-right: 5px;
    background: #fff;
    color: #222;
    border: 1px solid #222;
}

/*checkbox*/
label.checkbox1{
    display: flex;
    align-items: center;
    cursor: pointer;
}
label.checkbox1 input{
    display: none;
}
label.checkbox1 input + span{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}
label.checkbox1 input:checked + span{
    box-shadow: inset 0 0 10px #484848;
    background: #484848;
    border: 0;
}
label.checkbox1 input:checked + span:after{
    content: '';
    display: block;
    width: 10px;
    height: 4px;
    border-left: 2px solid #ffc400;
    border-bottom: 2px solid #ffc400;
    position: relative;
    top: -1px;
    transform: rotate(-45deg);
}
/*checkbox*/

.loading-layer.active{
    display: flex;
}
.loading-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    background: #ffc400;
    z-index: 3;
}
.loading-layer strong{
    color: #484848;
    margin-top: 10px;
}

canvas.effect{
    opacity: 1;
    transition: opacity 1s;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
}

@media (max-width: 760px){
    .dim-layer .every-popup{
        position: absolute;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        width: 100%;
        box-sizing: border-box;
        max-width: initial;
        max-height: calc(100% - 50px);
        background: rgba(255, 255, 255, .75);
        box-shadow: 0 -2px 4px rgba(0, 0, 0, .4);
    }
    .dim-layer .every-popup:before{
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        border-radius: 4px;
        min-height: 4px;
        background: linear-gradient(135deg, red, orange, yellow, green, blue, navy, purple);
        margin: 0 auto 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    }

    .dim-layer .every-popup > header{
        justify-content: center;
    }
    .dim-layer .every-popup > header > .close-btn{
        position: absolute;
        top: 8px;
        right: 8px;
        /* display: none; */
    }
}

@keyframes loading1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}