@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

*{box-sizing: border-box;}

html, body{
    height: 100%;
    font-family: Pretendard;
    background: linear-gradient(to bottom, #002, #fed);
}
body{
    display: flex;
    flex-direction: column;
}
body > header{
    background: darkslateblue;
    height: 40px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
body > header h1{
    margin: 0;
    font-size: 24px;
    color: #fff;
}
body > header .hamburger{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body > header .hamburger > span{
    height: 4px;
    background: #fff;
    border-radius: 4px;
}
body > main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
body > main > *{
    max-width: 600px;
}
main{
    flex: 1;
    padding: 10px 5px;
    overflow-y: auto;
}

.calendar-section{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.calendar-section > header{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar-section > header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.calendar-section > header > div.today-btn-wrapper{
    /* justify-content: flex-end; */
    margin-top: 10px;
}
.calendar-section > header > div.today-btn-wrapper button{
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, .75);
    cursor: pointer;
}
.calendar-section > header .year-selection{
    margin: 0 10px;
}
.calendar-section .year-input{
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.calendar-section .year-input span{ /*년*/
    font-size: 12px;
    margin-right: 10px;
    opacity: .7;
}
.calendar-section .year-input strong{   /*월*/
    font-size: 30px;
}
.calendar-section .year-input:after{
    content: '';
    width: 100%;
    height: 0;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    background: #fff;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}


.calendar-section > header button.move-month-btn{
    width: 30px;
    height: 30px;
    border: 0;
    outline: 0;
    background: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .2);
    cursor: pointer;
}
.calendar-section > header button.move-month-btn:after{
    content: '';
    width: 20px;
    height: 14px;
    box-sizing: border-box;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.calendar-section > header button.prev-month-btn:after{
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    transform: translateX(-5px);
}
.calendar-section > header button.next-month-btn:after{
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    transform: translateX(5px);
}

.calendar{
    display: flex;
    justify-content: center;
}

.dim-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, .95); */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.dim-layer.active{
    display: flex;
}
.dim-layer .every-popup.active{
    display: block;
}
.dim-layer .every-popup > header .close-btn{
    width: 20px;
    height: 20px;
    transform: rotate(46deg);
    position: relative;
    cursor: pointer;
}
.dim-layer .every-popup > header .close-btn:before,
.dim-layer .every-popup > header .close-btn:after{
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dim-layer .every-popup > header .close-btn:after{
    transform: translate(-50%, -50%) rotate(90deg);
}
.dim-layer .every-popup > footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dim-layer .every-popup > footer button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 32px;
    border-radius: 5px;
    background: navy;
    color: #fff;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}
.dim-layer .every-popup{
    display: none;
    border: 1px solid #111;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.dim-layer .bible-popup.active{
    display: flex;
}

.dim-layer .bible-popup{
    width: calc(100% - 10px - 10px);
    max-width: 600px;
    max-height: calc(100% - 10px - 10px);
    flex-direction: column;
}
.dim-layer .bible-popup > main{
    flex: 1;
}
.dim-layer .bible-popup > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}

.dim-layer .bible-popup p{
    margin: 0;
    text-align: justify;
}
.dim-layer .bible-popup p > span{
    display: flex;
    margin-bottom: 5px;
}
.dim-layer .bible-popup p > span:last-of-type{
    margin-bottom: 0;
}
.dim-layer .bible-popup p > span strong{
    width: 40px;
    min-width: 40px;
}
.dim-layer .date-popup > header{
    display: flex;
    justify-content: flex-end;
}
.dim-layer .date-popup > header .close-btn{
    width: 20px;
    height: 20px;
    transform: rotate(46deg);
    position: relative;
    cursor: pointer;
}
.dim-layer .date-popup > header .close-btn:before,
.dim-layer .date-popup > header .close-btn:after{
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dim-layer .date-popup > header .close-btn:after{
    transform: translate(-50%, -50%) rotate(90deg);
}
.dim-layer .date-popup > main{
    display: flex;
    justify-content: flex-end;
}


.dim-layer .date-popup > main > div{
    display: flex;
    align-items: center;
}
.dim-layer .date-popup > main > div:first-of-type{
    margin-right: 10px;
}
.dim-layer .date-popup ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #111;
    border-radius: 5px;
    width: 80px;
    height: 90px;
    margin-right: 5px;
    overflow-y: auto;
}
.dim-layer .date-popup ul li{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    box-sizing: border-box;
}
.dim-layer .date-popup ul li:hover,
.dim-layer .date-popup ul li.active{
    background: rgba(0, 0, 255, .1);
    font-weight: 900;
}
table thead tr{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
table th{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
    padding-bottom: 5px;
}
table tbody tr:first-of-type{
    padding-top: 10px;
    box-sizing: border-box;
}
table td{
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    height: 35px;
}
table td.on{
    /* transform: scale(1.3) rotate(5deg); */
    /* position: relative;
    z-index: 1; */
}
table td.on > div{
    font-weight: 900;
    opacity: 1;
    border: 3px double #fff;
    box-shadow: inset 0 0 8px #fff;
}
table td > div{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
}
table .sun{
    color: rgba(255, 127, 1);
}
table .sat{
    color: rgba(0, 255, 255, 1);
}
table td > div strong.today{
    box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    background: #fff;
    color: #000;
    /* font-size: 12px; */
}
table td > div strong{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: normal;
}
table td > div strong.today + span{
    opacity: 1;
}
table td > div span{
    opacity: 0;
    background: #fff;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 20px #fed;
}
table td.clear > div{
    /* opacity: 1; */
}
table td.clear > div strong{
    background: lime;
    border-radius: 50%;
    color: #000;
}
table td.ing > div strong{
    background: yellow;
    border-radius: 50%;
    color: #000;
}

.bible-section{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.bible-section > div{
    width: 100%;
}

.bible-section header{
    display: flex;
    color: #fff;
}

.bible-list{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    color: #fff;
}
.bible-list li{
    margin-bottom: 15px;
}
.bible-list li:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}
.bible-list li > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bible-list li label{
    flex: 1;
}
.bible-list li label .bible-range{
    flex: 1;
    font-weight: 100;
}
.bible-list li button{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
    width: 40px;
    padding: 0;
}

.memo-section{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, .8);
    color: #fff;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

/*checkbox*/
label.checkbox1{
    display: flex;
    align-items: center;
    cursor: pointer;
}
label.checkbox1 input{
    display: none;
}
label.checkbox1 input + span{
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}
label.checkbox1 input:checked + span{
    box-shadow: inset 0 0 10px blue;
    border: 0;
}
label.checkbox1 input:checked + span:after{
    content: '';
    display: block;
    width: 10px;
    height: 4px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
    top: -1px;
    transform: rotate(-45deg);
}
/*checkbox*/

.loading-layer.active{
    display: flex;
}
.loading-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 3;
}